@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80px);
  }
}

@media screen and (max-width: 1100px) {
  #main{
    overflow-x: hidden;
  }
  #img{
    opacity: 0.4;
    z-index: 0;
    width: 100%;
  }
  #part{
    background-color: "rgba(250, 250, 250, 0.4)";
    z-index: 10;
    width: 100%;
    position: absolute;
    left: 0%;
    padding-left: 20px;
    padding-right: 20px;
  }
  #part1{
    background-color: "rgba(250, 250, 250, 0.4)";
    z-index: 10;
    width: 100%;
  }
  #part2{
    background-color: "rgba(250, 250, 250, 0.4)";
    z-index: 10;
    width: 100%;
  }
  #hr{
    z-index: 10;
    margin-top: 70px;
  }
}

@media screen and (max-width: 700px) {
  #main{
    overflow-x: hidden;
  }
  .img1{
    max-height: 120px;
    width: 80%;
  }
  #t{
    margin-top: 10px;
  }
  .y{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .y1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.dark{
  background-color: black;
}

.underline:hover{
  text-decoration: underline;
}

#toggle {
  transition: all 0.5s ease; /* Adjust the timing and easing as needed */
  display: none; /* Default state */
}

#toggle.show {
  display: flex; /* Will trigger the transition when this class is added */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
